{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="profile-box contain forms-view">
    <h1 class="lead-text my-3 mx-5">User Profile</h1> <!-- Reduced vertical margin -->
    <div class="row my-3 justify-content-evenly"> <!-- Reduced vertical margin -->
        <div class="profile-info col-md-4">
            <div class="card m-1 p-3">
                <div class="media mx-auto my-3">
                    {% if user.userprofile.profile_image %}
                    <img src="{{ user.userprofile.profile_image.url }}" alt="Profile Image">
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="Default Profile Image">
                    {% endif %}
                </div>
                <p class="m-0 profile-txt"><strong>First name:</strong> {{ user.first_name|title }}</p>
                <p class="m-0 profile-txt"><strong>Last name:</strong> {{ user.last_name|title }}</p>
                <p class="m-0 profile-txt"><strong>Email:</strong> {{ user.email }}</p>
                <p class="m-0 profile-txt"><strong>Username:</strong> {{ user.username }}</p>
                <p class="m-0 profile-txt"><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
            </div>
        </div>
        <div class="profile-form col-md-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <p class="py-4">If you wish to reset your password <a class="button secondaryAction"
                        href="{% url 'account_reset_password' %}"> <strong class="hover-txt"> click here!</strong></a>
                </p>
                <button type="submit" name="update" class="my-4 mx-3 btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete Account
                </button>
            </form>

            <!-- Modal for account deletion -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content form-box">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete your account</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete your account?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="POST" action="{% url 'delete_account' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
